body{
    font-family: "Exo 2", sans-serif;
}
/* src/styles/WavyHeading.css */

/* .wavyHeading {
    position: relative;
    top: -30px;
  } */
  
  .wavyHeading h5 {
    font-size: 3em;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-weight: 900;
    text-shadow: 0px 2px 5px #373b44;
  }
  
  .wavyHeading h5:nth-child(1) {
    color: #e7739a;
    -webkit-text-stroke: 2px #d30186;
  }
  
  .wavyHeading h5:nth-child(2) {
    color: #34b9be;
    animation: animate1 5s ease-in-out infinite;
  }
  
  /* styles.css */
.powered-by {
  position: absolute;
  right: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}

.powered-by-akidi {
  color: #d30186;
}

.powered-by-yoki {
  color: #b402ab;
}

.strikethrough {
  text-decoration: line-through;
}
  @keyframes animate1 {
    0%,
    100% {
      clip-path: polygon(
        0% 10%, 10% 30%, 20% 30%, 40% 10%, 50% 30%,
        60% 30%, 80% 10%, 100% 30%, 100% 100%, 0% 100%
      );
    }
    50% {
      clip-path: polygon(
        0% 60%, 15% 65%, 34% 66%, 51% 62%,
        67% 50%, 84% 45%, 100% 46%, 100% 100%,
        0% 100%, 0% 60%
      );
    }
  }
  @media screen and (max-width: 640px) {
    .bloggie{
        display: none;
        position: absolute;
        left: 500px;
        bottom: 200px;
    }
    .wavyHeading h5 {
        font-size: 1.5em;
    }
  }